<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>flavagit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">


</head>

<body class="body">
  <!---------------header--------------->
  <div class="wrapper">

    <header class="header js-header">
      <div class="container">
        <div class="header__container">



          <a href="#" class="header__logo">
            <img class="header__img" src="../static/img/Flava.svg" alt="logo">
          </a>

          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="" class="menu__link is-active">HOME</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">LINE UP</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">TICKET</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">SCHEDULE</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">BE PART OF</a>
              </li>
              <li class="menu__item">
                <a href="" class="menu__link">ABOUT</a>
              </li>

            </ul>
          </nav>

          <div class="burger-menu">
            <ul class="burger-menu__box js--menu">

              <li class="burger-menu__item"><a class="burger-menu__link" href="#">HOME</a></li>
              <li class="burger-menu__item"><a class="burger-menu__link" href="#">LINE UP</a></li>
              <li class="burger-menu__item"><a class="burger-menu__link" href="#">TICKET</a></li>
              <li class="burger-menu__item"><a class="burger-menu__link" href="#">SCHEDULE</a></li>
              <li class="burger-menu__item"><a class="burger-menu__link" href="#">BE PART OF</a></li>
              <li class="burger-menu__item"><a class="burger-menu__link" href="#">ABOUT</a></li>
            </ul>

          </div>
          <div class="menu__navigation">
            <a class="button button--header" href="#">CREATE ACCOUNT
            </a>


            <div class="burger js--burger">
              <div class="burger__item js--burger_item">
                <i class="burger__strip js--burger_strip"></i>
              </div>
            </div>
          </div>



        </div>
      </div>
    </header>


    <main class="page">

      <section class="bg-top">
        <div class="bg-top__wrap">

          <picture class="image-gb js-imgBg">
            <source class="image-bg__source" media="(max-width: 450px)" srcset="../static/img/bg/mobile_img.png">
            <source class="image-gb__source" media="(min-width: 451px)" srcset="../static/img/bg/main_img.png">
            <img class="image-gb__img" src="../static/img/bg/main_img.png"
              alt="Chris standing up holding his daughter Elva">controls
          </picture>

          <div class="video js-video">
            <iframe class="video__iframe" width="560" height="315"
              src="https://www.youtube.com/embed/OMguFafuqrg?rel=1&amp;&loop=1&amp;playlist=OMguFafuqrg&amp;autoplay=1&mute=1&amp;start=60"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>

        </div>

        <div class="container">
          <div class="bg-top__box">
            <div class="bg-top__wrapp">
              <h1 class="bg-top__title">ALL ABOUT MUSIC - ITS ALL HERE</h1>
              <p class="bg-top__text">Turn on the feeling with all music event </p>
              <div class="bg-top__bottom">
                <div class="bg-top__play js-play">

                  <svg width="91" height="90" viewBox="0 0 91 90" fill="#FEBA08" class="bg-top__img js-pl"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="45.5" cy="45" r="45" fill="white" fill-opacity="0.5" />
                    <circle cx="45.5" cy="45" r="39" fill="white" />
                    <path d="M37.1666 30.4167V59.5834L60.0833 45L37.1666 30.4167Z" />
                    <rect class="svg js-svg" id="svg_4" height="34.43038" width="7.848101" y="26.633703" x="29.297461"
                      stroke-width="1.5" stroke="null" fill="none" />
                    <rect class="svg js-svg" id="svg_6" height="34.43038" width="7.848101" y="26.633703" x="52.335435"
                      stroke-width="1.5" stroke="null" fill="none" />


                  </svg>



                  </a>
                </div>
              </div>


            </div>
          </div>
        </div>


      </section>
      <div class="container">

        <section class="time-box">
          <div class="time-box__wrapp">

            <div class="header-box">
              <h2 class="header-box__title"> MUSIC FESTIVAL START IN</h2>
            </div>
            <div class="clock">
              <div class="clock__wrap">
                <div class="clock__box">
                  <span class="clock__time js-days"> </span>
                  <p class="clock__text">DAYS</p>
                </div>
                <div class="clock__box">
                  <span class="clock__time js-hours"> </span>
                  <p class="clock__text">HOURS</p>
                </div>
              </div>

              <div class="clock__wrap">
                <div class="clock__box">
                  <span class="clock__time js-minutes"> </span>
                  <p class="clock__text">MINUTES</p>
                </div>
                <div class="clock__box">
                  <span class="clock__time js-seconds"> </span>
                  <p class="clock__text">SECONS</p>
                </div>
              </div>
            </div>

            <a class="button button--clock" href="#">BUY TICKET</a>
          </div>

        </section>
        <!---------------------------flafa---------------------------------->
        <section class="flafa">

          <div class="flafa__box">

            <div class="header-box header-box--flafa ">
              <h2 class="header-box__title">THE LINEUP OF FLAFA</h2>
            </div>

            <div class="slider-wrap js-slider">

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/AoL-mVxprmk.png">
                <p class="slider-wrap__text">RAFAELLA</p>
              </div>

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/KaMTEmJnxY (1).png">
                <p class="slider-wrap__text"> ATIKH BANA</p>
              </div>

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/M6gy9oHgII.png">
                <p class="slider-wrap__text">RAYUL</p>
              </div>

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/AoL-mVxprmk.png">
                <p class="slider-wrap__text">RAFAELLA</p>
              </div>

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/KaMTEmJnxY (1).png">
                <p class="slider-wrap__text"> ATIKH BANA</p>
              </div>

              <div class="slider-wrap__box">
                <img class="slider-wrap__img" src="../static/img/slider/M6gy9oHgII.png">
                <p class="slider-wrap__text">RAYUL</p>
              </div>

            </div>
            <div class="flafa__arrows js-arrows"></div>
          </div>
        </section>


        <!----------------------------SPONSORS--------------------------------->
        <section class="sponsors">

          <div class="sponsors__box">

            <div class="header-box header-box--sponsors ">
              <h2 class="header-box__title">SPONSORS</h2>
            </div>

            <div class="slider-sponsors js-sponsors">
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/Rectangle15.svg"></a></div>
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/PizzaHOT.svg"></a></div>
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/Trainesia.svg"></a></div>
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/Firevent.svg"></a></div>
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/Baberock.svg"></a></div>
              <div class="slider-sponsors__wrap"><a class="slider-sponsors__link" href="#"><img
                    class="slider-sponsors__img" src="../static/img/icons/sponsors/Crocoday.svg"></a></div>
            </div>
          </div>
        </section>


        <section class="subscribe">
          <div class="subscribe__box">

            <div class="header-box header-box--sponsors ">
              <h2 class="header-box__title">FIRST COME, FIRST SERVED </h2>
            </div>
            <p class="subscribe__text">1,000 people who leave a request will receive a gift from FLAVA</p>
            <form data-action="https://httpbin.org/post" data-method="POST" class="form js-form-ajax">
              <div class="form__wrap">
                <div class="form__elemt">
                  <input class="form__input" type="text" name="name" placeholder="Your name" data-rule="required|name">
                </div>
                <div class="form__elemt">
                  <input class="form__input" type="email" name="Email" placeholder="Your Email"
                    data-rule="required|email">
                </div>
                <div class="form__elemt">
                  <input class="form__input" type="tel" name="tel" placeholder="Your phone" data-rule="required|phone">
                </div>
              </div>
              <div class="form__box">
                <div class="form__message">
                  <textarea class="form__textarea" rows="5" name="text" placeholder="Your message"
                    data-rule="required|maxlength-50"></textarea>
                  <button type="submit" class="button form__button">Send</button>
                </div>
              </div>


            </form>
          </div>

          <div class="bottom-form">
            <div class="bottom-form__info">
              <p class="bottom-form__text">Phone</p>
              <a class="bottom-form__tel" href="tel:+62 812 2345 678"> +62 812 2345 678 </a>
              <p class="bottom-form__text">Email</p>
              <a class="bottom-form__email" href="mailto:Flavamusicfest@mail.com">Flavamusicfest@mail.com</a>
            </div>

            <div class="bottom-form__wrap">
              <p class="bottom-form__text">Keep In Touch</p>

              <form data-action="https://httpbin.org/post" data-method="POST" class="bottom-form__form  js-form-ajax">

                <div class="bottom-form__box">
                  <div class="bottom-form__elemt">
                    <input type="email" name="email" placeholder="Your Email" data-rule="required|email"
                      class="bottom-form__input">
                    <button type="submit" class="button bottom-form__button">Subscribe</button>
                  </div>
                </div>
              </form>

              <div class="social">
                <div class="social__box">
                  <a href="#" class="social__item">
                    <img class="social__img" src="../static/img/icons/social/instagram.svg" alt="social">
                  </a>
                  <a href="#" class="social__item">
                    <img class="social__img" src="../static/img/icons/social/youtube.svg" alt="social">
                  </a>
                  <a href="#" class="social__item">
                    <img class="social__img" src="../static/img/icons/social/Group.svg" alt="social">
                  </a>
                </div>
              </div>

            </div>


          </div>


        </section>

      </div>
    </main>


    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <p class="footer__text">Terms & Conditions for Event • Privacy Policy • Terms of Use</p>
          <p class="footer__copyright">Copyright © 2021 • Flava - Music Festival</p>
        </div>
      </div>
    </footer>


  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


  <a href="#" class="scrollup js-scrollup">
    <img class="scrollup__img" src="../static/img/up.png" alt="">
  </a>

  <script src='../static/js/main.js'></script>
</body>

</html>