include ./../../../node_modules/bemtopuginvue/bemto.pug

mixin b-context(blockname)
  if block
    - bemto_chain.push([blockname])
    - bemto_chain_contexts.push('block')
    block

-
 set_bemto_settings({
   prefix: '',
   element: '__',
   modifier: '--'
 })
